<div id="log-content"><h1 id="log-title">Log Tail Monitor</h1></div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    const consumer = ActionCable.createConsumer();

    const subscription = consumer.subscriptions.create({ channel: "LogChannel" }, {
      connected() {
        console.log('Connected.');
      },
      disconnected() {
        console.log('Disconnected.');
      },
      received(data) {
        const logContent = document.getElementById('log-content');
        data.log_entries.forEach(log => {
          const logElement = document.createElement('div');
          logElement.innerHTML = log;
          logContent.appendChild(logElement);
        });
        logContent.scrollTop = logContent.scrollHeight;
      }
    });

    function recursiveFetch() {
      subscription.perform('keep_alive');
      setTimeout(recursiveFetch, 1000);
    }

    recursiveFetch();
  });
</script>
